* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F1F1F1;
}

.body {
  background-image: url(../Sauna_template/img/bgsauna.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* .smoke-img-top {
       //border: 0.1rem solid black;
       width: 100%;
       height: 25rem;
       position: absolute;
       z-index: 2;
   }

   .smoke-img-bottom {
       //border: 0.1rem solid black;
       width: 50%;
       height: 25rem;
       position: absolute;
       top: 100%;
       right: 0;
       -ms-transform:translate(0,-100%);
       -webkit-transform:translate(0,-100%);
       transform: translate(0,-100%);

   }


   .smoke-img-bottom2 {
        //border: 0.1rem solid black;
        width: 50%;
        height: 25rem;
        position: absolute;
        top: 100%;
        left: 0;
        -ms-transform:translate(0,-100%);
        -webkit-transform:translate(0,-100%);
        transform: translate(0,-100%);

    }*/
}
.body .ph-arrow-circle-left {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translate(2rem, -50%);
          transform: translate(2rem, -50%);
  width: 6rem;
  height: 6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .ph-arrow-circle-left:hover {
  cursor: pointer;
}
.body .ph-arrow-circle-right {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translate(-2rem, -50%);
          transform: translate(-2rem, -50%);
  width: 6rem;
  height: 6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .ph-arrow-circle-right:hover {
  cursor: pointer;
}
.body .header {
  width: 100%;
  z-index: 3;
  margin-top: 0.5rem;
  /* .text-viza {
       font-family:$font1;
       font-style: normal;
       font-weight: 600;
       font-size: 3rem;
       line-height: 4.4rem;
       color:$color2;
   }*/
}
.body .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@supports (justify-content: space-evenly) {
  .body .header__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.body .header .header-icon {
  height: 6rem;
  width: 7rem;
}
.body .header .map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@supports (gap: 1rem) {
  .body .header .map-info {
    gap: 1rem;
  }
}
.body .header .pointer-icon {
  width: 1.7rem;
  height: 2.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
  color: #FFFFFF;
}
@supports (gap: 1rem) {
  .body .header .pointer-icon {
    margin-right: 0;
  }
}
.body .header .pointer-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .street-info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .header .street-info:hover {
  text-decoration: underline;
  cursor: pointer;
}
.body .header .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@supports (gap: 1rem) {
  .body .header .contact-info {
    gap: 1rem;
  }
}
.body .header .contact-info .whatsapp-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
@supports (gap: 1rem) {
  .body .header .contact-info .whatsapp-icon {
    margin-right: 0;
  }
}
.body .header .contact-info .whatsapp-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .contact-info .telegram-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
@supports (gap: 1rem) {
  .body .header .contact-info .telegram-icon {
    margin-right: 0;
  }
}
.body .header .contact-info .telegram-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .contact-info .tel-info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .header .contact-info .tel-info:hover {
  text-decoration: underline;
  cursor: pointer;
}
.body .header .send-btn {
  width: 19.6rem;
  height: 3.5rem;
  background-color: #FF7600;
  border-radius: 0.5rem;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.body .header .send-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .send-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .header .send-btn .btn-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #FFFFFF;
}
.body .main {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  /* .text-media {
       position: absolute;
       left: 10rem;
       top: 40rem;
       transform: translate(10rem,40rem);
       font-family:$font1;
       font-style: normal;
       font-weight: 600;
       font-size: 4rem;
       line-height: 7rem;
       color:$color5;
       //border: 0.1rem solid black;
       padding-bottom: 5rem;
   }*/
}
.body .main .main__container {
  position: absolute;
  left: 10rem;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@supports (gap: 4rem) {
  .body .main .main__container {
    gap: 4rem;
  }
}
.body .main .main-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 8rem;
  color: #FFFFFF;
  white-space: normal;
}
.body .main .main-text__title {
  color: #FF7600;
}
.body .main .main-text__title .text--white {
  color: #FFFFFF;
}
.body .main .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}
@supports (gap: 2rem) {
  .body .main .main-list {
    gap: 2rem;
    margin-top: 0;
  }
}
.body .main .main-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body .main .main-list .list-item:not(:first-child) {
  margin-top: 2rem;
}
@supports (gap: 2rem) {
  .body .main .main-list .list-item {
    gap: 2rem;
  }
  .body .main .main-list .list-item:not(:first-child) {
    margin-top: 0;
  }
}
.body .main .main-list .list-item .vector-icon {
  border: 0.2rem solid #FF7600;
  padding: 0.5rem;
  border-radius: 50%;
}
.body .main .main-list .list-item .list-prop {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@supports (gap: 1rem) {
  .body .main .main-list .list-item .list-prop {
    margin-left: 0;
  }
}
.body .main .main-list .list-item .list-prop:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  text-decoration: underline;
  text-decoration-color: #FF7600;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}
.body .main .btn-service {
  width: 26.4rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FF7600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 4rem;
}
@supports (gap: 4rem) {
  .body .main .btn-service {
    margin-top: 0;
  }
}
.body .main .btn-service:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .main .btn-service:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .main .btn-service .service-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}
.body .main .section-media {
  width: 100%;
  position: absolute;
  top: 30rem;
  -webkit-transform: translateY(30rem);
          transform: translateY(30rem);
}
.body .main .section-media .media-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}
.body .main .section-media .media-block .block-text {
  width: 100%;
  position: relative;
}
.body .main .section-media .media-block .block-text .title-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #DFDFDF;
  position: absolute;
}
.body .main .section-media .media-block .block-text .title-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 6rem;
  color: #000000;
  position: absolute;
  top: 1.5rem;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}
.body .main .section-media .media-block .block-text .title-real .real-color {
  color: #FF7600;
}
.body .main .section-media .media-block .block-photo {
  width: 100%;
  position: absolute;
  top: 8rem;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.body .main .section-media .media-block .block-photo .main-photo {
  width: 100%;
  height: 36rem;
  background-image: url(../Sauna__template/img/media-main.jpg);
  background-size: cover;
  position: relative;
}
.body .main .section-media .media-block .block-photo .main-photo .main-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .main .section-media .media-block .block-photo .main-photo .main-icon:hover {
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .bottom-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-media .media-block .block-photo .bottom-photos .photo-item {
  width: 20rem;
  height: 12rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .main .section-media .media-block .block-photo .bottom-photos .photo-item:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .btn-bottom {
  width: 26.4rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FF7600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
@supports (gap: 4rem) {
  .body .main .section-media .media-block .block-photo .btn-bottom {
    margin-top: 0;
  }
}
.body .main .section-media .media-block .block-photo .btn-bottom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .btn-bottom:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .main .section-media .media-block .block-photo .btn-bottom .btn-text-bottom {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}
.body .main .section-conditions {
  width: 100%;
  height: 100rem;
  background-image: url(../Sauna__template/img/tear-bg.jpg);
  background-size: cover;
  position: absolute;
  top: 70rem;
  -webkit-transform: translateY(70rem);
          transform: translateY(70rem);
}
.body .main .section-conditions .conditions-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}
.body .main .section-conditions .conditions-block .block-text-main {
  width: 100%;
  position: relative;
}
.body .main .section-conditions .conditions-block .block-text-main .title-shadow1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #DFDFDF;
  position: absolute;
}
.body .main .section-conditions .conditions-block .block-text-main .title-real1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 6rem;
  color: #000000;
  position: absolute;
  top: 1.5rem;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}
.body .main .section-conditions .conditions-block .block-text-main .title-real1 .real-color1 {
  color: #FF7600;
}
.body .main .section-conditions .conditions-block .conditions-box {
  width: 100%;
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  height: 24rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-img {
  width: 28rem;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .cond-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  white-space: pre-line;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .itm-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .itm-point .point-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .point-icon {
  border: 0.2rem solid #FF7600;
  border-radius: 50%;
  padding: 0.5rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list--gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .text--gap {
  gap: 6rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .text--gap2 {
  gap: 2rem;
}