* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #F1F1F1;
}

.body {
  background-image: url(../Sauna_template/img/bgsauna.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  width: 100%;
  height: 100%;
  /* .smoke-img-top {
       //border: 0.1rem solid black;
       width: 100%;
       height: 25rem;
       position: absolute;
       z-index: 2;
   }

   .smoke-img-bottom {
       //border: 0.1rem solid black;
       width: 50%;
       height: 25rem;
       position: absolute;
       top: 100%;
       right: 0;
       -ms-transform:translate(0,-100%);
       -webkit-transform:translate(0,-100%);
       transform: translate(0,-100%);

   }


   .smoke-img-bottom2 {
        //border: 0.1rem solid black;
        width: 50%;
        height: 25rem;
        position: absolute;
        top: 100%;
        left: 0;
        -ms-transform:translate(0,-100%);
        -webkit-transform:translate(0,-100%);
        transform: translate(0,-100%);

    }*/
}
.body .ph-arrow-circle-left {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translate(2rem, -50%);
          transform: translate(2rem, -50%);
  width: 6rem;
  height: 6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .ph-arrow-circle-left:hover {
  cursor: pointer;
}
.body .ph-arrow-circle-right {
  position: absolute;
  top: 50%;
  right: 2rem;
  -webkit-transform: translate(-2rem, -50%);
          transform: translate(-2rem, -50%);
  width: 6rem;
  height: 6rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .ph-arrow-circle-right:hover {
  cursor: pointer;
}
.body .header {
  width: 100%;
  z-index: 3;
  margin-top: 0.5rem;
  /* .text-viza {
       font-family:$font1;
       font-style: normal;
       font-weight: 600;
       font-size: 3rem;
       line-height: 4.4rem;
       color:$color2;
   }*/
}
.body .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@supports (justify-content: space-evenly) {
  .body .header__container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
.body .header .header-icon {
  height: 6rem;
  width: 7rem;
}
.body .header .map-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@supports (gap: 1rem) {
  .body .header .map-info {
    gap: 1rem;
  }
}
.body .header .pointer-icon {
  width: 1.7rem;
  height: 2.3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
  color: #FFFFFF;
}
@supports (gap: 1rem) {
  .body .header .pointer-icon {
    margin-right: 0;
  }
}
.body .header .pointer-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .street-info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .header .street-info:hover {
  text-decoration: underline;
  cursor: pointer;
}
.body .header .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@supports (gap: 1rem) {
  .body .header .contact-info {
    gap: 1rem;
  }
}
.body .header .contact-info .whatsapp-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
@supports (gap: 1rem) {
  .body .header .contact-info .whatsapp-icon {
    margin-right: 0;
  }
}
.body .header .contact-info .whatsapp-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .contact-info .telegram-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: 1rem;
}
@supports (gap: 1rem) {
  .body .header .contact-info .telegram-icon {
    margin-right: 0;
  }
}
.body .header .contact-info .telegram-icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .contact-info .tel-info {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .header .contact-info .tel-info:hover {
  text-decoration: underline;
  cursor: pointer;
}
.body .header .send-btn {
  width: 19.6rem;
  height: 3.5rem;
  background-color: #FF7600;
  border-radius: 0.5rem;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.body .header .send-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .header .send-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .header .send-btn .btn-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #FFFFFF;
}
.body .main {
  position: relative;
  margin-top: 3rem;
  width: 100%;
  /* .text-media {
       position: absolute;
       left: 10rem;
       top: 40rem;
       transform: translate(10rem,40rem);
       font-family:$font1;
       font-style: normal;
       font-weight: 600;
       font-size: 4rem;
       line-height: 7rem;
       color:$color5;
       //border: 0.1rem solid black;
       padding-bottom: 5rem;
   }*/
}
.body .main .main__container {
  position: absolute;
  left: 10rem;
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@supports (gap: 4rem) {
  .body .main .main__container {
    gap: 4rem;
  }
}
.body .main .main-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 6rem;
  line-height: 8rem;
  color: #FFFFFF;
  white-space: normal;
}
.body .main .main-text__title {
  color: #FF7600;
}
.body .main .main-text__title .text--white {
  color: #FFFFFF;
}
.body .main .main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}
@supports (gap: 2rem) {
  .body .main .main-list {
    gap: 2rem;
    margin-top: 0;
  }
}
.body .main .main-list .list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.body .main .main-list .list-item:not(:first-child) {
  margin-top: 2rem;
}
@supports (gap: 2rem) {
  .body .main .main-list .list-item {
    gap: 2rem;
  }
  .body .main .main-list .list-item:not(:first-child) {
    margin-top: 0;
  }
}
.body .main .main-list .list-item .vector-icon {
  border: 0.2rem solid #FF7600;
  padding: 0.5rem;
  border-radius: 50%;
}
.body .main .main-list .list-item .list-prop {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@supports (gap: 1rem) {
  .body .main .main-list .list-item .list-prop {
    margin-left: 0;
  }
}
.body .main .main-list .list-item .list-prop:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  text-decoration: underline;
  text-decoration-color: #FF7600;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}
.body .main .btn-service {
  width: 26.4rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FF7600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 4rem;
}
@supports (gap: 4rem) {
  .body .main .btn-service {
    margin-top: 0;
  }
}
.body .main .btn-service:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .main .btn-service:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .main .btn-service .service-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}
.body .main .section-media {
  width: 100%;
  position: absolute;
  top: 30rem;
  -webkit-transform: translateY(30rem);
          transform: translateY(30rem);
}
.body .main .section-media .media-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
}
.body .main .section-media .media-block .block-text {
  width: 100%;
  position: relative;
}
.body .main .section-media .media-block .block-text .title-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #DFDFDF;
  position: absolute;
}
.body .main .section-media .media-block .block-text .title-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 6rem;
  color: #000000;
  position: absolute;
  top: 1.5rem;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}
.body .main .section-media .media-block .block-text .title-real .real-color {
  color: #FF7600;
}
.body .main .section-media .media-block .block-photo {
  width: 100%;
  position: absolute;
  top: 8rem;
  -webkit-transform: translateY(8rem);
          transform: translateY(8rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.body .main .section-media .media-block .block-photo .main-photo {
  width: 100%;
  height: 36rem;
  background-image: url(../Sauna__template/img/media-main.jpg);
  background-size: cover;
  position: relative;
}
.body .main .section-media .media-block .block-photo .main-photo .main-icon {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .main .section-media .media-block .block-photo .main-photo .main-icon:hover {
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .bottom-photos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-media .media-block .block-photo .bottom-photos .photo-item {
  width: 20rem;
  height: 12rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .main .section-media .media-block .block-photo .bottom-photos .photo-item:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .btn-bottom {
  width: 26.4rem;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #FF7600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}
@supports (gap: 4rem) {
  .body .main .section-media .media-block .block-photo .btn-bottom {
    margin-top: 0;
  }
}
.body .main .section-media .media-block .block-photo .btn-bottom:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
.body .main .section-media .media-block .block-photo .btn-bottom:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .main .section-media .media-block .block-photo .btn-bottom .btn-text-bottom {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}
.body .main .section-conditions {
  width: 100%;
  height: 110rem;
  background-image: url(../Sauna__template/img/tear-bg.jpg);
  background-size: cover;
  position: absolute;
  top: 70rem;
  -webkit-transform: translateY(70rem);
          transform: translateY(70rem);
}
.body .main .section-conditions .conditions-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
}
.body .main .section-conditions .conditions-block .block-text-main {
  width: 100%;
  position: relative;
}
.body .main .section-conditions .conditions-block .block-text-main .title-shadow1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #DFDFDF;
  position: absolute;
}
.body .main .section-conditions .conditions-block .block-text-main .title-real1 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.4rem;
  line-height: 6rem;
  color: #000000;
  position: absolute;
  top: 1.5rem;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}
.body .main .section-conditions .conditions-block .block-text-main .title-real1 .real-color1 {
  color: #FF7600;
}
.body .main .section-conditions .conditions-block .conditions-box {
  width: 100%;
  margin-top: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  height: 24rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-img {
  width: 28rem;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .cond-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  white-space: pre-line;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .itm-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .itm-point .point-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #000000;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  white-space: nowrap;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list-itm .point-icon {
  border: 0.2rem solid #FF7600;
  border-radius: 50%;
  padding: 0.5rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .conditions-text .list--gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .text--gap {
  gap: 6rem;
}
.body .main .section-conditions .conditions-block .conditions-box .box-item .conditions-inf .text--gap2 {
  gap: 2rem;
}
.body .main .section-place {
  width: 100%;
  height: 60rem;
  background-image: url(../Sauna__template/img/room-bg.jpg);
  background-size: cover;
  position: absolute;
  top: 130rem;
  -webkit-transform: translateY(130rem);
          transform: translateY(130rem);
}
.body .main .section-place .place-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.body .main .section-place .place-container .place-content {
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  height: 50rem;
  width: 70rem;
  background: #000000;
  opacity: 0.8;
  -webkit-backdrop-filter: blur(2.75rem);
          backdrop-filter: blur(2.75rem);
  border-radius: 0.5rem;
  padding: 1rem;
}
.body .main .section-place .place-container .place-content .text-block {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .main .section-place .place-container .place-content .text-block .title-shadow2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 6rem;
  color: #F1F1F1;
  opacity: 0.2;
}
.body .main .section-place .place-container .place-content .text-block .title-real2 {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 6rem;
  color: #FFFFFF;
  margin-top: -7rem;
}
.body .main .section-place .place-container .place-content .text-block .title-real2 .real-color2 {
  color: #FF7600;
}
.body .main .section-place .place-container .place-content .paragraph-block {
  position: absolute;
  left: 50%;
  top: 8rem;
  -webkit-transform: translate(-50%, 8rem);
          transform: translate(-50%, 8rem);
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
}
.body .main .section-place .place-container .place-content .paragraph-block .p-style:not(:first-child) {
  margin-top: 3rem;
}
.body .main .section-stocks {
  width: 100%;
  height: 60rem;
  position: absolute;
  top: 165rem;
  -webkit-transform: translateY(165rem);
          transform: translateY(165rem);
  background-color: #FFFFFF;
}
.body .main .section-stocks .stocks-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
}
.body .main .section-stocks .stocks-container .stocks-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .main .section-stocks .stocks-container .stocks-title .stocks-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #E7E7E7;
}
.body .main .section-stocks .stocks-container .stocks-title .stocks-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 6rem;
  color: #000000;
  margin-top: -4rem;
}
.body .main .section-stocks .stocks-container .stocks-title .stocks-real .stocks-color {
  color: #FF7600;
}
.body .main .section-stocks .stocks-container .stocks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.body .main .section-stocks .stocks-container .stocks-content .content-block {
  width: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  /*&:hover {
     transform: scale(1.2);
     border: 0.2rem solid  $color6;
     border-radius: 2rem;
     padding: 1rem;
     backface-visibility: hidden;
     cursor: pointer;
  }*/
}
.body .main .section-stocks .stocks-container .stocks-content .content-block .stocks-img {
  height: 20rem;
  width: 100%;
}
.body .main .section-stocks .stocks-container .stocks-content .content-block .block-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
  white-space: nowrap;
}
.body .main .section-stocks .stocks-container .stocks-content .content-block .block-paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: #000000;
}
.body .main .section-stocks .stocks-container .stocks-warning {
  width: 70%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}
.body .main .section-rest {
  width: 100%;
  height: 80rem;
  position: absolute;
  top: 200rem;
  -webkit-transform: translateY(200rem);
          transform: translateY(200rem);
  background-image: url(../Sauna__template/img/rest-bg.jpg);
  background-size: cover;
}
.body .main .section-rest .rest-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 75%;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.body .main .section-rest .rest-content .rest-img {
  height: 100%;
  width: 45rem;
}
.body .main .section-rest .rest-content .rest-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-rest .rest-content .rest-block .rest-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .main .section-rest .rest-content .rest-block .rest-title .rest-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 6rem;
  color: #E7E7E7;
  white-space: pre-wrap;
}
.body .main .section-rest .rest-content .rest-block .rest-title .rest-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 6rem;
  color: #000000;
  margin-top: -7.5rem;
}
.body .main .section-rest .rest-content .rest-block .rest-title .rest-real .rest-color {
  color: #FF7600;
}
.body .main .section-rest .rest-content .rest-block .rest-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-main {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
  white-space: pre-line;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-list .dlist-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-list .dlist-item .desc-icon {
  border: 0.2rem solid #FF7600;
  border-radius: 50%;
  padding: 0.5rem;
  height: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-list .dlist-item .desc-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.body .main .section-rest .rest-content .rest-block .rest-main .description-bottom {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #000000;
}
.body .main .section-rest .rest-content .rest-block .rest-btn {
  width: 26.4rem;
  height: 4.5rem;
  background-color: #FF7600;
  border-radius: 0.5rem;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.body .main .section-rest .rest-content .rest-block .rest-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
.body .main .section-rest .rest-content .rest-block .rest-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.body .main .section-rest .rest-content .rest-block .rest-btn .rest-text-btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}
.body .main .section-set {
  width: 100%;
  height: 90rem;
  position: absolute;
  top: 245rem;
  -webkit-transform: translateY(245rem);
          transform: translateY(245rem);
  background-color: transparent;
}
.body .main .section-set .set-container {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .main .section-set .set-container .set-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body .main .section-set .set-container .set-title .set-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #DFDFDF;
}
.body .main .section-set .set-container .set-title .set-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 6rem;
  color: #000000;
  margin-top: -7.5rem;
}
.body .main .section-set .set-container .set-title .set-real .set-color {
  color: #FF7600;
}
.body .main .section-set .set-container .set-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
}
.body .main .section-set .set-container .set-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body .main .section-set .set-container .set-content__box .box-inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.body .main .section-set .set-container .set-content__box .box-inside .inside-img {
  width: 30rem;
  height: 20rem;
  border-radius: 0.5rem;
}
.body .main .section-set .set-container .set-content__box .box-inside .inside-title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  color: #000000;
}
.body .main .section-bar {
  width: 100%;
  height: 80rem;
  background-image: url(../Sauna__template/img/bar-bg.jpg);
  background-size: 100% 100%;
  position: absolute;
  top: 295rem;
  -webkit-transform: translateY(295rem);
          transform: translateY(295rem);
}
.body .main .section-bar__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.body .main .section-bar__container .bar-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.body .main .section-bar__container .bar-title .bar-shadow {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 6rem;
  line-height: 7rem;
  color: #F1F1F1;
  opacity: 0.2;
}
.body .main .section-bar__container .bar-title .bar-real {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 6rem;
  color: #FFFFFF;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -4.2rem;
}
.body .main .section-bar__container .bar-title .bar-real .bar-color {
  color: #FF7600;
}
.body .main .section-bar__container .bar-warning {
  width: 100%;
  text-align: center;
  white-space: pre-line;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #FFFFFF;
  margin-top: -10rem;
}
.body .main .section-bar__container .bar-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -16rem;
}
.body .main .section-bar__container .bar-icons .bar-i {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.body .main .section-bar__container .bar-icons .bar-i:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.body .main .section-bar__container .bar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15rem;
}
.body .main .section-bar__container .bar-items .content-item {
  background-color: #000000;
  opacity: 0.7;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  height: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 2rem;
}
.body .main .section-bar__container .bar-items .content-item .bar-vector {
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  border: 0.3rem solid #FF7600;
  border-radius: 50%;
}
.body .main .section-bar__container .bar-items .content-item .bar-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #FFFFFF;
}
.body .main .section-bar__container .bar-items .content--top1 {
  margin-top: -10rem;
}
.body .main .section-bar__container .bar-items .content--top2 {
  margin-top: -7rem;
}
.body .main .section-bar__container .bar-items .content--top3 {
  margin-top: 3rem;
}
.body .main .section-bar__container .bar-items .content--top4 {
  margin-top: -5rem;
}